@import "../base.scss";

.selfCard {
  .image {
    border: 1px solid gray;
    padding: 5px;
    border-radius: 50%;
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }

  .detail {
    margin: 20px;
    p {
      margin: 0;
    }

    .header {
      font-size: 20px;
    }
    .content {
      font-size: 30px;
      font-weight: 500;
    }
  }
}

@media only screen and (max-width: 700px) {
  .selfCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    .image {
      border: 1px solid gray;
      padding: 5px;
      border-radius: 50%;
      display: inline-block;
      width: 150px;
      height: 150px;
      margin: 0 auto;
    }

    .detail {
      margin: 20px;
      p {
        margin: 0;
      }

      .header {
        font-size: 20px;
      }
      .content {
        font-size: 30px;
        font-weight: 500;
      }
    }
  }
}

// 1. dorost kardan userselfcard
// 2. ezafe kardan card
// 3. scroll sefid
// 4. margin collapsing
// 5. resposive
